<li id="comment-<%= comment._id %>">
        <p>
            <% if (locals.user && locals.user.id == comment.user.id){ %>
            
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">X</a>
            </small>
            <% } %>
            <%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
            <br>
            <i class="far fa-thumbs-up" style="color:rgb(70, 118, 180)"></i>
            <i class="fas fa-thumbs-up" style="color:rgb(70, 118, 180)"></i>
        </p>
        
</li>