<div>
    <p> Hi <%= reset.user.name%></p>
    <br>
    <br>
    <p>Click on the link to reset your password on Codeial.</p>
    <p>http://localhost:9000/users/changePassword/<%= reset.acessToken%></p>
    <br>
    <br>
    <p>Thanks!!!</p>
</div>
